<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="chatAngular.js"></script>
    <link rel="stylesheet" type="text/css" href="chatroom.css">
    <!------ Include the above in your HEAD tag ---------->
</head>

<body>
<script src="https://use.fontawesome.com/45e03a14ce.js"></script>
<div class="main_section" ng-app="chatApp" ng-controller="chatCtrl">
    <div class="container">
        <div class="chat_container">
            <div class="col-sm-3 chat_sidebar">
                <div class="row">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="  search-query form-control" placeholder="Conversation" />
                            <button class="btn btn-danger" type="button">
                  <span class=" glyphicon glyphicon-search"></span>
                  </button>
                        </div>
                    </div>
                    <div class="dropdown all_conversation">
                        <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fa fa-weixin" aria-hidden="true"></i>
               All Conversations
               <span class="caret pull-right"></span>
               </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a href="#"> All Conversation </a>
                                <ul class="sub_menu_ list-unstyled">
                                    <li><a href="#"> All Conversation </a> </li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="member_list">
                        <ul class="list-unstyled">
                            <li class="left clearfix">
                                <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                                <div class="chat-body clearfix">
                                    <div class="header_sec">
                                        <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right">
                           09:45AM</strong>
                                    </div>
                                    <div class="contact_sec">
                                        <strong class="primary-font">(123) 123-456</strong> <span class="badge pull-right">3</span>
                                    </div>
                                </div>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
            <!--chat_sidebar-->


            <div class="col-sm-9 message_section">
                <div class="row">
                    <div class="new_message_head">
                        <div class="pull-left"><button><i class="fa fa-plus-square-o" aria-hidden="true"></i> New Message</button></div>
                        <div class="pull-right">
                            <div class="dropdown">
  <!--                              <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
  <!--  <i class="fa fa-cogs" aria-hidden="true"></i>  Setting-->
  <!--  <span class="caret"></span>-->
  <!--</button>-->
  <!--                              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">-->
  <!--                                  <li><a href="#">Action</a></li>-->
  <!--                                  <li><a href="#">Profile</a></li>-->
  <!--                                  <li><a href="#">Logout</a></li>-->
  <!--                              </ul>-->
                            </div>
                        </div>
                    </div>
                    <!--new_message_head-->

                    <div class="chat_area">
                        <ul class="list-unstyled">
                            <chat-message ng-repeat="message in messages" message="message"></chat-message>
                        </ul>
                    </div>
                    <!--chat_area-->
                    <div class="message_write">
                        <textarea class="form-control" placeholder="type a message"
                            ng-model="messageContent"></textarea>
                        <div class="clearfix"></div>
                            <a href="#" class="pull-right btn btn-success" 
                                ng-click="addMessage($event)">Send</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--message_section-->
        </div>
    </div>
</div>
</body>
</html>
